model {
  name "APC AP7952 Switched Rack PDU"; short "AP7952"
  kind "pdu"; mount "side"; outlets 24; nics 1

  face strip=#true #"""
    p ttt
     uuuu

    aaaaa

    N[n]


    ###x


    ###o

    ###o

    ###o

    ###o

    ###o

    ###o

    ###o


    ###x


    ###o

    ###o

    ###o

    ###o

    ###o

    ###o

    ###o


    ###x


    ###o

    ###o

    ###o

    ###o

    ###o

    ###o

    ###o
    ~
    """#

  legend {
    p power
    t text="APC"
    u text="7952"
    a amps align="right"
    o outlet order="down" type="C13" rating="10A"
    x outlet="█" order="down" type="C19" rating="16A" numbers="1,9,17"
    "#" number gap=1
    n nic
    ~ fill
  }
}
