model {
  name "Dell PowerVault MD1200"; short "MD1200"
  kind "storage"; height 2; bays 12; psus 2

  face #"""
     p nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn ~hhhhhh .
      [b____]  [b____]  [b____]  [b____]
      [b____]  [b____]  [b____]  [b____]
      [b____]  [b____]  [b____]  [b____] ~P [s] [s].
    """#

  legend {
    p power
    n name
    h short
    s psu
    b bay first=0 order="down"
    ~ fill
    . space
  }
}
