model {
  name "Dell PowerEdge R730xd"; short "R730xd"
  kind "server"; height 2; bays 24; psus 2; nics 4

  face #"""
     p nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn ~hhhhhh .
     b b b b b b b b b b b b b b b b b b b b b b b b
     | | | | | | | | | | | | | | | | | | | | | | | |
                             ~N l l l l   P [s] [s].
    """#

  legend {
    p power
    n name
    h short
    s psu
    b bay="𜷝𜶺" first=0 order="right"
    l nic
    ~ fill
    . space
  }
}
