model {
  name "HPE LCD 8500"; short "LCD 8500"
  kind "kvm"; height 1

  face #"""
     p▁▁▁▁▁🭈🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬭🬽▁▁▁▁▁
      tttt 🭣🭧🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🮄🭜🭘 🬋 🬋
    """#

  legend {
    p power
    t text="8500"
  }
}
